#Ignore all JS files that are compiled from CS files.
Scripts/Background.js
Scripts/Lib/Settings.js
Scripts/Lib/Exceptions.js
Scripts/Lib/Extensions.js
Scripts/Popup.js

#Keep old stuff and stuff the developer uses for his own purposes out of the repo.
*.old
*.private
*.private.*