#Ignore all JS files that are compiled from CS files.
Scripts/Lib/Settings.js
Scripts/Lib/Exceptions.js
Scripts/Lib/Extensions*.js
Scripts/Lib/Api.js
Scripts/Background.js
Scripts/Popup.js
Scripts/Settings.js
Scripts/App.js

#Ignore all compiled LESS files
Styles/Popup.css

#Keep old stuff and stuff the developer uses for his own purposes out of the repo.
*.old
*.private
*.private.*

#Komodo IDE
*.komodo*
*.kpf