html
{
    width:  625px;
    height: 500px;
}

body
{
    color: #5B7396;
}

.group .head a
{
    position: relative;
    top: 3px;
    left: 3px;
}

.group .head
{
    line-height: 5px;
}

.group .head img .separator
{
    position:     absolute;
    bottom:       -17px;
    left:         50%;
    margin-left: -240px;
}

.text
{
    position: relative;
    top: -1px;
}

.container
{
    position: relative;
    top: 0px;
    width: 100%;
    height: auto;
    font-family: Verdana;
}

#alerts-container table, .ai-conflict
{
    width: 100%;
    margin-top: 7px;
    margin-bottom: 9px;
    padding-left: 2%;
    padding-right: 2%;
}

#alerts-container > td, th, tr
{
    color: #ABB3BD;
    font-size: 12.4px;
}

#alerts-container em, .ai-conflict em
{
    color: #676F7A;
    font-size: 12px;
}

.ai-conflict em
{
    font-size: 11.4px !important;
    font-weight: normal;
}

.other-reward, .credit-reward, .time-left
{
    text-align: right;
    color: #F1F1F1;
}

.credit-reward
{
    font-size: 11.4px;
}

.other-reward span, .round
{
    -webkit-border-radius: 8px 8px 8px 8px / 8px 8px 8px 8px;
    background-color: #307035;
    padding: 0px 8px 1px 6px;
}

.multi-reward
{
    top: 66px;
}

.time-left
{
    font-style: italic;
    font-size: 10px;
}

.time-left span
{
    background-color: #34347E;
    -webkit-border-radius: 8px 8px 8px 8px / 8px 8px 8px 8px;
    padding: 2px 5px 3px 5px;
}

.future, .grey
{
    background-color: #818181 !important;
}

.urgent
{
    background-color: #921212 !important;
}

.location
{
    font-weight: bold;
}

.location em
{
    font-weight: normal;
    font-size: 11px !important;
}

a img
{
    border: none;
}

.centre
{
    text-align: center;
}

.light
{
    color: #F1F1F1 !important;
}

.ai-conflict
{
    cursor: pointer;
}

.text-left { text-align: left; }
.text-right { text-align: right; }

.progress
{
    -webkit-border-radius: 3.5px 3.5px 3.5px 3.5px / 3.5px 3.5px 3.5px 3.5px;
    position: relative;
    width: 100%;
    height: 20px;
    display: table-cell;
}

.corpus
{
    -webkit-border-top-right-radius: 0px 0px;
    -webkit-border-bottom-right-radius: 0px 0px;
    background-color: #407099;
    width: 0;
}

.grineer
{
    -webkit-border-top-left-radius: 0px 0px;
    -webkit-border-bottom-left-radius: 0px 0px;
    background-color: #BE5754;
    width: 0;
}

.left, .left .faction-badge
{
    float: left;
}

.right, .right .faction-badge
{
    float: right;
}

.right
{
    border-left: 1px solid #C5C5C5;
}

.left
{
    border-right: 1px solid #C5C5C5;
}

.arrow-left
{
    width: 0; 
    height: 0; 
    border-bottom: 10px solid transparent;
    border-top: 10px solid transparent;
    font-size: 0;
    line-height: 0;
}

.corpus-arrow-left
{
    border-right: 10px solid #407099;
}

.grineer-arrow-left
{
    border-right: 10px solid #BE5754;
}

.arrow-right
{
    width: 0; 
    height: 0; 
    border-bottom: 10px solid transparent;
    border-top: 10px solid transparent;
    font-size: 0;
    line-height: 0;
}

.grineer-arrow-right
{
    border-left: 10px solid #BE5754;
}

.corpus-arrow-right
{
    border-left: 10px solid #407099;
}

.progress .percent
{
    font-weight: bold;
    border: none;
    margin-right: 2px;
    margin-top: 2px;
}

.group hr
{
    height: 0px;
    width: 100%;
    border: none;
    border-top: 1px solid #0A0F17;
    border-bottom: 1px solid #192230;
}

.lotus
{
    z-index: -9999;
    position: absolute;
    right: -39px;
    bottom: -72px;
}