html
{
    width:  500px;
    height: 500px;
}

body
{
    background: url( '../Images/App/Background.png' ) no-repeat;
    font-family: "Trebuchet MS", Verdana, Arial;
    color: #375075;
}

.group .head a
{
    position: relative;
    top: 3px;
    left: 3px;
}

.group .head
{
    line-height: 5px;
}

.group .head img .separator
{
    position:     absolute;
    bottom:       -17px;
    left:         50%;
    margin-left: -240px;
}

.text
{
    position: relative;
    top: -1px;
}

.container
{
    position: relative;
    top: 0px;
    width: 100%;
    height: auto;
    font-family: Verdana;
}

#alerts-container table
{
    width: 100%;
    margin-top: 3px;
    margin-bottom: 9px;
}

#alerts-container > td, th, tr
{
    color: #ABB3BD;
    font-size: 12.4px;
}

#alerts-container em
{
    color: #676F7A;
    font-size: 12px;
}

.other-reward, .credit-reward, .time-left
{
    text-align: right;
    color: #F1F1F1;
}

.credit-reward
{
    font-size: 11.4px;
}

.other-reward span
{
    -webkit-border-radius: 8px 8px 8px 8px / 8px 8px 8px 8px;
    background-color: #307035;
    padding: 0px 8px 1px 6px;
}

.multi-reward
{
    top: 66px;
}

.time-left
{
    font-style: italic;
    font-size: 10px;
}

.time-left span
{
    background-color: #34347E;
    -webkit-border-radius: 8px 8px 8px 8px / 8px 8px 8px 8px;
    padding: 2px 5px 3px 5px;
}

.urgent
{
    background-color: #921212 !important;
}

.location
{
    font-weight: bold;
}

.location em
{
    font-weight: normal;
}