body
{
    background: #FFFFFF;
    color: #000000;
    font-family: "Trebuchet MS", Verdana, Arial;
}

#noty
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 42px;
    text-align: center;
}

.error
{
    background-color: #DE5B5B;
    border-bottom: 2px solid #B50000;
}

.smaller
{
    font-size: 14px;
    font-weight: normal;
}

a
{
    color: #000000;
}

a:hover
{
    text-decoration: none;
}

.options-table
{
    margin-left: auto;
    margin-right: auto;
    width: 43%;
}

.section-header
{
    font-size: 18px;
    text-align: center;
    padding-top: 13px;
    padding-bottom: 13px;
}

.main-header
{
    font-size: 22px;
    border-bottom: 1px solid #D0D0D0;
    padding-top: 0;
    padding-bottom: 0;
}

.section td
{
    padding-left: 9%;
}

#end td
{
    padding-top: 23px;
    text-align: center;
}